@media (max-width: 600px) {

    $bigFont: 3rem;
    $secondFont: 2.5rem;
    $thirdFont: 2rem;
    $fourthFont: 1.5rem;

    .hl01  { font-size:$bigFont; font-family:Century Schoolbook L; text-align:center; }
    .hl02  { font-size:$secondFont; font-family:Century Schoolbook L; text-align:center; }
    .hl03  { font-size:$thirdFont; font-family:Century Schoolbook L; text-align:center; }
    .hl04  { font-size:$fourthFont; font-family:Century Schoolbook L; text-align:center; }
    .txt01 { font-size:$bigFont; font-family:Century Schoolbook L; text-align:left; }
    .txt02 { font-size:$secondFont; font-family:Century Schoolbook L; text-align:left; }
    .txt03 { font-size:$thirdFont; font-family:Century Schoolbook L; text-align:left; }
    .txt04 { font-size:$fourthFont; font-family:Century Schoolbook L; text-align:left; }
    .txtR01 { font-size:$bigFont; font-family:Century Schoolbook L; text-align:right; }
    .txtR02 { font-size:$secondFont; font-family:Century Schoolbook L; text-align:right; }
    .txtR03 { font-size:$thirdFont; font-family:Century Schoolbook L; text-align:right; }
    .txtR04 { font-size:$fourthFont; font-family:Century Schoolbook L; text-align:right; }
    .txtft { font-size:$thirdFont; font-family:Century Schoolbook L; text-align:right; background-color:Transparent;}

    header {
        width: 100%;
        position: static;
        height: 310px;
        opacity: 1;
    }

    footer {
        width: 100%;
        height: 120px;
        position: relative;
    }

    body {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    p {
        max-width: 100%;
    }

    .headerContent {
        overflow: visible;
        height: 100%;
        width: 100%;
        border: 1px solid black;
        padding: 0;
    }

    .nav-item {
        width: 100%;
    }
    .navbar-nav-custom {
        padding: 0;
    }

    .footerItem {
        display: block;
    }

    .headerItem {
        display: block;
        width: 100%;
        margin: 1px 0;
        height: 16%;

    }

    .txt01, .txt02, .txt03, .txt04 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .imgRobo{
        position: relative;
        bottom: 0;
        right: 0;
    }


    [class*="col-"] {
        width: 100%;
    }
}