body {
  background-color: #0f0f0f;
  color: white;
  position: relative;
}

header, footer {
  background-color: rgba(var(--bs-dark-rgb));
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 8%;
  opacity: 0.9;
  width: 100%;
}

footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2.5%;
}
footer a {
  color: #9B3922;
}

a {
  color: #9B3922;
}
a:hover {
  text-decoration: none;
  color: #F2613F;
}

.hl01 {
  font-size: 4rem;
  font-family: Century Schoolbook L;
  text-align: center;
}

.hl02 {
  font-size: 3rem;
  font-family: Century Schoolbook L;
  text-align: center;
}

.hl03 {
  font-size: 2.5rem;
  font-family: Century Schoolbook L;
  text-align: center;
}

.hl04 {
  font-size: 2rem;
  font-family: Century Schoolbook L;
  text-align: center;
}

.txt01 {
  font-size: 4rem;
  font-family: Century Schoolbook L;
  text-align: left;
}

.txt02 {
  font-size: 3rem;
  font-family: Century Schoolbook L;
  text-align: left;
}

.txt03 {
  font-size: 2.5rem;
  font-family: Century Schoolbook L;
  text-align: left;
}

.txt04 {
  font-size: 2rem;
  font-family: Century Schoolbook L;
  text-align: left;
}

.txtR01 {
  font-size: 4rem;
  font-family: Century Schoolbook L;
  text-align: right;
}

.txtR02 {
  font-size: 3rem;
  font-family: Century Schoolbook L;
  text-align: right;
}

.txtR03 {
  font-size: 2.5rem;
  font-family: Century Schoolbook L;
  text-align: right;
}

.txtR04 {
  font-size: 2rem;
  font-family: Century Schoolbook L;
  text-align: right;
}

.txtft {
  font-size: 2.5rem;
  font-family: Century Schoolbook L;
  text-align: right;
  background-color: Transparent;
}

.mainHeader {
  padding-top: 6%;
  padding-bottom: 6%;
}

.welcomeHeader {
  padding-bottom: 6%;
}

.box {
  border: 5px solid rgba(var(--bs-dark-rgb));
  border-radius: 25px;
  padding: 40px 20px;
  margin-top: 5%;
  margin-bottom: 15%;
  background-color: #9B3922;
}

.footerContent, .headerContent {
  margin: auto;
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerContent {
  height: 100%;
}

.headerContent {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.footerItem {
  color: #0f0f0f;
  padding: 0 40px;
  margin: auto;
  display: inline-block;
}
.footerItem a {
  text-decoration: none;
}

.navbar-nav-custom {
  width: 100%;
  padding: 0 20%;
}

.nav-item {
  width: 20%;
}

.navbar {
  height: 100%;
}

.headerItem {
  height: 100%;
  align-self: center;
  color: #9B3922;
  font-size: 16pt;
  font-family: Bitstream Charter;
}
.headerItem:hover {
  color: #F2613F;
}

.imgRobo {
  position: absolute;
  bottom: 100;
}

.kirembelImg {
  height: auto;
  max-width: 100%;
}

.curentPage {
  text-decoration: underline;
}

.navbar-nav .navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.spaceBottom {
  margin-bottom: 10%;
}

.littleSpaceBottom {
  margin-bottom: 5%;
}

.custom-border {
  border: 4px solid rgba(var(--bs-dark-rgb));
  border-radius: 5px;
}

.line {
  height: 2px;
  background: white;
  margin-bottom: 10%;
}

.littleSpaceTop {
  margin-top: 5%;
}

.spaceTop {
  margin-top: 10%;
}

.defaultImg {
  width: 100%;
}

.galerieRow {
  --bs-gutter-x: 0;
}/*# sourceMappingURL=custom.css.map */